{% extends "base.html" %}
{%block title%}Home{%endblock%}

{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  <body>
    <table>
        <tr>
            <th>Date & Time</th>
            <th>Notes</th>
        </tr>
    {%-for row in eventsList-%}
        <tr>
            <td>{{row.date}}</td>
            <td>{{row.info}}</td>
        </tr>
    {%-endfor-%}
    </table>
    <hr/>
    <form method="post">
        <title>Add Note</title>
        <label for="eventBox">Note Information</label>
        <input name="eventBox" id="eventBox" required/>
        <input type="submit" value = "Add">
    </form>
</body>
{%endblock%} 