{% extends "base.html" %}
{%block title%}Home{%endblock%}

{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.info }}
  </li>
  {% endfor %}
  <body>
    <table>
        <tr>
            <th>Alias</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    {%-for row in eventsList-%}
        <tr>
            <td>{{row.user.alias}}</td>
            <td>{{row.date.strftime('%d-%m-%Y')}}</td>
            <td>{{row.info}}</td>
            <td>
              <form method="POST" action="{{url_for('views.edit_note', note_id=row.id) }}" style="display:inline;">
                <input type="text" name="updated_info" value="" required/>
                <button type="submit">Edit</button>
              </form>
            </td>
            <td>
              {% if current_user.has_role('Admin') %}
              <a href="{{ url_for('views.delete_note', note_id=row.id) }}">Delete</a>
              {%endif%}
            </td>
        </tr>
    {%-endfor-%}
    </table>
    <hr/>
    <form method="post">
        <title>Add Note</title>
        <label for="eventBox">Note Information</label>
        <input name="eventBox" id="eventBox" required/>
        <input type="submit" value = "Add">
    </form>
</body>
{%endblock%} 