{% extends "base.html" %}
{%block title%}Sign Up{%endblock%}

{% block content%}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST">
    {{ form.hidden_tag() }}
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", id="email") }}
        {% for error in form.email.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.alias.label(class="form-label") }}
        {{ form.alias(class="form-control", id="alias") }}
        {% for error in form.alias.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password1.label(class="form-label") }}
        {{ form.password1(class="form-control", id="password1") }}
        {% for error in form.password1.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control", id="password2") }}
        {% for error in form.password2.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>
{%endblock%} 